@charset "ISO-8859-1";
body{
	margin: 0%;
}

header{
    height:20%;
    display:flex;
    background-color: #2d5e71;
    margin: 0%;
    border: solid #2d5e71;
}

section{
    position:relative;
    width:100%;
}

.subtitulo{
	background-color: whitesmoke;
	border: solid lightgray;
}
.subtitulo h4{
	margin-left: 5%;
}
.cadastro{
	margin-left: 45%;
	margin-bottom: 5%;
	width: 60%;
	border: solid whitesmoke;
	background-color: black;
	
}
.cadastro #subtitulo{
	text-align: center;
	background-color: whitesmoke;
	margin: 0%;
}


.teste{
	margin: 0px 0px 0px 5%;
	width: 10%;
	height: 10%;
}


footer{
    height: 20%;
    background-color: green;
    display:flex;
}

